h1, h2, h3, h4, h5, h6, p, li {
font-family: 'Open Sans', sans-serif;
}
a {
font-family: 'Open Sans', sans-serif;
text-decoration:  none;
}
.item {
  font-size:  20px;
}
/* thanks for snooping in here, you are now a certified smart fella. */ 
/* https://cdn.discordapp.com/attachments/775099698465210399/834704763442036776/EzjatjOXEAIh3HS.png */
